*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    height: 100%;
    background-image: url("../imagens/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
header li{
    margin-top: 2em;
    font-weight: 700;
}
.logo{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-top: -2em;
    margin-left: 1em;
}
#lojas h1{
    padding: 1em;
    color: black;
    font-size: 2.5em;
}
nav ul{
    list-style: none;

}
nav a{
    text-decoration: none;
    font-size: 2em;
    padding-inline: 1em;
    list-style: none;
}
#lojas{
    text-align: center;
    padding: 2em;

}
#containeres{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    margin: 0 auto;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;

}
.container .img1{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}
.container a{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}
#container1{
    background-image: url("../imagens/magalu.png");
    margin-left: 3em;
}
#container2{
    background-image: url("../imagens/casabahia.png");
    margin-left: 2em;

}
#container3{
    background-image: url("../imagens/amazon.png");
    margin-left: 2em;
}
#container4{
    background-image: url("../imagens/americanas.png");
    margin-left: 2em;
}
/* Serviços */
#servicos{
    text-align: center;
    margin: 0 auto;
}

#servicos h2{
    text-align: center;
    margin: 1em;
    font-size: 2.5em;
}
#servicos p{
    margin: 1em 5em;
    text-align: justify;
    font-size: 1.5em;
    text-decoration: none;
}
#servicos a{
    text-decoration: none;
}
.link::after{
    content: '\00A0\1F517';
    font-size: 0.6em;
}
/* Fale Conosco*/
#contato h2{
    text-align: center;
    margin: 1em;
    font-size: 2.5em;
}
form{
    width: 25em;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
}
label{
    display: inline-block;
    padding: 0.1em;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.1em;
    margin-top: 0.4em;
}
input{
    width: 23em;
    color: black;
    border-radius: 8px;
    padding: 6px 8px;
    margin-left: 1px;
    border: 1px solid black;
    height: 3em;
    font-size: 1em;
}
textarea{
    border-radius: 8px;
    color: black;
    height: 10em;
    width: 19em;
    resize: none;
    padding: 0.5em;
    font-size: 1.5em;
}
#btn{
    color: black;
    border-radius: 8px;
    width: 15.5em;
    cursor: pointer;
    margin-top: 0.4em;
    padding: 6px 8px;
    font-size: 1.5em;
}
#btn:hover{
    background-color: #cc4b0f;
}

footer{
    text-align: center;
    padding: 5em;
    margin-top: 5em;
    width: 50%;
    height: 18em;
    margin: 0 auto;
}
footer h5{
    font-size: 1.5em;
}

/* Rodapé */
.marca{
    height: 4em;
    border-radius: 50%;
}
.marca1{
    height: 2em;
    border-radius: 50%;
}
footer h3{
    display:inline-flex ;
    align-items: center;

}
footer h3 p{
    padding: .3em;
}
.social{
    height: 2em;
    margin-top: 2em; 
}
.social h4{
    display:inline-flex ;
    align-items: center;
}
.social p{
    padding: .3em;
}
@media screen and (max-width: 300px){
    header{
        height: 3em;
    }
    header .logo{
        margin-left: 0.2em;
    }
    nav a{
        display: block;
        font-size: 1em;
        margin-top: .5em;
    }
    nav ul{
        list-style: none;
        width: 8em;
        margin-top: 2.5em;

    }
    #lojas{
        padding: 0.5em;
    }
    form{
        width: 18.1em;
        margin-left: 1.5em;
    }
    input{
        width: 16.5em;
    }
    textarea{
        width: 13.5em;
    }
    #btn{
        width: 11em;
    }
    footer{
        font-size: .7em;
    }
    footer h5{
        font-size: .9em;
    }
}

@media screen and (max-width: 400px){
    header{
        height: 3em;

    }
    header .logo{
        margin-left: 0.5em;
    }
    nav a{
        display: block;
    }
    nav ul{
        list-style: none;
        font-size: .8em;
    }
    header li{
        margin-top: 3em;
        display: block;
     }
    #lojas{
        padding: 1em;
        margin-bottom: 1em;
    }
    #lojas h1{
        font-size: 1.5em;
        margin: 0 auto;
    }
    #containeres{
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;

    }
    .container{
        max-width: 100%;
        margin-bottom: 2em;
    }
    /* Como funciona */
    #servicos{
        margin-top: -5em;
    }
    #servicos p{
        margin: 0 1em;
    }
    /* Contato*/
    form{
        margin: 0 auto;
        width: 22em;
    }
    input{
        width: 19.5em;
    }
    textarea{
        width: 16em;
    }
    #btn{
        width: 13em;
    }

    /* Footer */
    footer{
        padding: 1em;
        margin-top: 1em;
        width: 100%;
        height: 18em;
        margin: 0 auto;
    }
    .marca{
        height: 2em;
    }
}
@media screen and (max-width: 1024px){
    header .logo{
        margin-left: 0.5em;
    }
    header li{
        margin-top: 1em;
        font-size: 0.8em;
    }
    nav a{
        display: block;
        
    }

    #containeres{
        flex-direction: column;
        align-items: center;
        padding: 3em;

    }
    #containeres a{
        margin-bottom: 1em;
    }
    .container .img1{
        width: 250px;
        height: 250px;
        border-radius: 80%;
        background-size: cover;
        background-position: center;
    }
    .container a{
        width: 10em;

    }
    #serviços{
        width: 100%;
    }
    #servicos p{
        margin: 0 1em;
    }
    footer{
        width: 100%;
    }
    footer h5{
        font-size: .9em;
    }
    .marca{
        height: 2em;
    }
}

